<%- include('partials/header') %>
  <div class="container mt-5">
    <!-- <h1>Login</h1> -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="jumbotron centered"></div>
            <div class="container">
              <h3 class="assclass">Assignments Pending</h3>
              <ul>
                <%posts.forEach(function(post){%>
                  <li>
                    <h4>
                      <%= (post.blogbody)%>
                    </h4>
                  </li>
                  <% });%>
              </ul>

              <h3 class="assclass">Assignments Submitted</h3>
              <ul>
                <h4><li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga obcaecati natus aspernatur at saepe?
                  Ipsum?</li></h4>
                  <h4><li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga obcaecati natus aspernatur at saepe?
                    Ipsum?</li></h4>
                    <h4><li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga obcaecati natus aspernatur at saepe?
                      Ipsum?</li></h4>
              </ul>
            </div>
            <div>
              <h3 class="assclass">Upload Assignment <a href="/uploadassignment">+</a></h3>
            </div>
            <%- include('partials/footer') %>