<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h3>TEACHER'S LOGIN</h3>
    <p class="lead"></p>
    <hr>
    <a class="btn btn-light btn-lg" href="/tregister" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/tlogin" role="button">Login</a>

  </div>
</div>

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h3>STUDENT LOGIN</h3>
    <p class="lead"></p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
